body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #181624; 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.square {
  min-width: 70px;
  min-height: 70px;
  font-size: 60px;
  text-align: center;
  color: #fff;
  font-weight: bolder;
  padding: 30px;
  cursor: pointer;
}

.b-bottom-right {
  border-right: 10px solid #136772;
  border-bottom: 10px solid #136772;
}

.b-bottom {
  border-bottom: 10px solid #136772;
}

.b-right {
  border-right: 10px solid #136772;
}

@media only screen and (max-width: 600px) {
  .square {
      min-width: 50px;
      min-height: 50px;
      font-size: 32px;
      font-weight: bolder;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}

